@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-canvas text-ink font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight font-semibold;
  }
  h1 {
    letter-spacing: -0.04em;
  }
  h2 {
    letter-spacing: -0.03em;
  }
  h3 {
    letter-spacing: -0.02em;
  }
  * {
    @apply border-border;
  }
}
